<div class="form-group">
  <%= form_for(@task) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.check_box :completed %>
    <%= f.label :completed %>
    <%= f.submit %>
  <% end %>
</div>
<p><%= link_to "Back to TASKLIST", tasks_path %></p>
